<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mingleup</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.mingleup.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.mingleup.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>com.bvrit.uploadpic.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.mingleup.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.mingleup.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendController</display-name>
    <servlet-name>FriendController</servlet-name>
    <servlet-class>com.mingleup.controller.FriendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendController</servlet-name>
    <url-pattern>/FriendController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAMPLE</display-name>
    <servlet-name>SAMPLE</servlet-name>
    <servlet-class>com.mingleup.controller.SAMPLE</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAMPLE</servlet-name>
    <url-pattern>/SAMPLE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageProcesser</display-name>
    <servlet-name>ImageProcesser</servlet-name>
    <servlet-class>com.mingleup.controller.ImageProcesser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageProcesser</servlet-name>
    <url-pattern>/ImageProcesser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileController</display-name>
    <servlet-name>EditProfileController</servlet-name>
    <servlet-class>com.mingleup.controller.EditProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileController</servlet-name>
    <url-pattern>/EditProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptController</display-name>
    <servlet-name>AcceptController</servlet-name>
    <servlet-class>com.mingleup.controller.AcceptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptController</servlet-name>
    <url-pattern>/AcceptController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error-404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error-500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>RejectController</display-name>
    <servlet-name>RejectController</servlet-name>
    <servlet-class>com.mingleup.controller.RejectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectController</servlet-name>
    <url-pattern>/RejectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveServlet</display-name>
    <servlet-name>RetriveServlet</servlet-name>
    <servlet-class>com.mingleup.controller.RetriveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveServlet</servlet-name>
    <url-pattern>/RetriveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.mingleup.controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.mingleup.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePicController</display-name>
    <servlet-name>ProfilePicController</servlet-name>
    <servlet-class>com.mingleup.controller.ProfilePicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePicController</servlet-name>
    <url-pattern>/ProfilePicController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfilePic</display-name>
    <servlet-name>ViewProfilePic</servlet-name>
    <servlet-class>com.mingleup.controller.ViewProfilePic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfilePic</servlet-name>
    <url-pattern>/ViewProfilePic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Timeline</display-name>
    <servlet-name>Timeline</servlet-name>
    <servlet-class>com.mingleup.controller.Timeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timeline</servlet-name>
    <url-pattern>/Timeline</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InactivateUser</display-name>
    <servlet-name>InactivateUser</servlet-name>
    <servlet-class>com.mingleup.controller.InactivateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InactivateUser</servlet-name>
    <url-pattern>/InactivateUser</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>myfilter</filter-name>
  <filter-class>com.mingleup.filters.UserLoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>myfilter</filter-name>
  <url-pattern>/Home</url-pattern>
  <url-pattern>/friendList.jsp</url-pattern>
  <url-pattern>/friendRequest.jsp</url-pattern>
  </filter-mapping>
</web-app>